<div class="page-header">
  <h1>Office #<%= @office.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>City</dt>
  <dd><%= @office.city_id %></dd>

  <dt>Company</dt>
  <dd><%= @office.company_id %></dd>

  <dt>Industry</dt>
  <dd><%= @office.industry_id %></dd>

  <dt>Group</dt>
  <dd><%= @office.group_id %></dd>

</dl>
