<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <dd><h3><%= @office.company.name %></h3></dd>
      </div>
      <div class="col-sm-3">
        <dd><h3><%= @office.city.name %></h3></dd>
      </div>

      <div class="col-sm-3">
        <dd><h3><%= @office.industry.name %></h3></dd>
      </div>
    </div>

  </div>

</div>


<div class="row isotope-container">
  <% @office.reviews.each do |review| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Reviewed on <%= review.created_at.strftime("%b %d, %Y") %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Description</dt>
          <dd><%= review.review_description %></dd>
          <dt>Pros</dt>
          <dd><%= review.review_pros %></dd>
          <dt>Cons</dt>
          <dd><%= review.review_cons %></dd>
          <dt>Rating</dt>
        </dl>
      </div>
    </div>
  </div>
  <% end %>
</div>
