<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
      <dd><h3><%= @office.company.name %></h3></dd>
      </div>
      <div class="col-sm-3">
        <dd><h3><%= @office.city.name %></h3></dd>
      </div>
      <div class="col-sm-3">
        <dd><h3><%= @office.group.name %></h3></dd>
      </div>
      <div class="col-sm-3">
        <dd><h3><%= @office.industry.name %></h3></dd>
      </div>
    </div>

  </div>

</div>

<dl class="dl-horizontal">


  <dt>Reviews</dt>

  <!--   <%= debug(@office.reviews) %> -->
  <dd>
    <ul>
      <% @office.reviews.each do |review| %>
      <li>
        Description: <%= review.review_description %>
      </li>
      <li>
        Pros: <%= review.review_pros %>
      </li>
      <li>
        Cons: <%= review.review_cons %>
      </li>
      <li>
        Recruiting Advice:<%= review.review_get_internship %>
      </li>
      <li>
        Rating: <%= review.review_rating %>
      </li>
       <li>
        Created On: <%= review.created_at.strftime("%b %d, %Y") %>
      </li>
      <% end %>
    </ul>
  </dd>



</dd>




</dl>
