<div class="page-header">


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <h3 align="center">Reviews on <%= @office.company.name %> in <%= @office.industry.name %> in <%= @office.city.name %> 
        </h3>
      </div>
    </div>


      <div class="row isotope-container">
        <% @office.reviews.each do |review| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotope-item">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Reviewed on <%= review.created_at.strftime("%b %d, %Y") %></h3>
            </div>
            <div class="panel-body">
              <dl>
                <dt>Group</dt>
                <dd><%= review.group %></dd>
                <dt>Responsibilities</dt>
                <dd><%= review.responsibility %></dd>
                <dt>Compensation</dt>
                <dd><%= review.compensation %></dd>
                <dt>Hours</dt>
                <dd><%= review.hours %></dd>
                <dt>Culture</dt>
                <dd><%= review.culture %></dd>
                <dt>Career Development</dt>
                <dd><%= review.development %></dd>
                <dt>Recruiting Tips</dt>
                <dd><%= review.tips %></dd>
                <dt>Exit Opportunities</dt>
                <dd><%= review.exit_ops %></dd>
                <dt>Firm Outlook</dt>
                <dd><%= review.outlook %></dd>
                <dt>Benefits</dt>
                <dd><%= review.benefit %></dd>
                <dt>international</dt>
                <dd><%= review.international %></dd>
                <dt>Office Diversity</dt>
                <dd><%= review.diversity %></dd>
                <dt>Offer Rate</dt>
                <dd><%= review.offer %></dd>
              </dl>
              <ul>
                <% review.comments.each do |comment| %>
                <li>
                  <p><%= comment.content %> by <%= comment.user_id.email %></p>
                  <p><%= time_ago_in_words(comment.created_at) %> ago</p>
                </li>
                <% end %>
              </ul>            
              <form action="/create_comment">
                <input type="text" placeholder="content" name="content" class="form-control">

                <input type="hidden" placeholder="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

                <input type="hidden" placeholder="review_id" name="review_id" class="form-control" value="<%= review.id %>">
      
                <input type="submit">
              </form>
  
        <% end %>
      </div>
