<div class="page-header">


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <h3 align="center">Reviews on <%= @office.company.name %> in <%= @office.industry.name %> in <%= @office.city.name %> 
        </h3>
      </div>
    </div>
      <div class="row isotope-container">
        <% @office.reviews.each do |review| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 isotope-item">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Reviewed on <%= review.created_at.strftime("%b %d, %Y")    %> <i class="fa fa-plus-square-o" > </h3></i>
            </div>
            <div class="panel-body">
              <dl>
                <dt>Where you in a particular group?</dt>
                <dd><%= review.group %></dd>
                <dt>Daily Responsibilities</dt>
                <dd><%= review.responsibility %></dd>
                <dt>What is the 1st year post-MBA compensation with bonuses?</dt>
                <dd><%= review.compensation %></dd>
                <dt>How many hours do you work in a typical week</dt>
                <dd><%= review.hours %></dd>
                <dt>What is the firm culture like?</dt>
                <dd><%= review.culture %></dd>
                <dt>What are your thoughts on development at the firm?</dt>
                <dd><%= review.development %></dd>
                <dt>What are some recruiting tips?</dt>
                <dd><%= review.tips %></dd>
                <dt>Where do people typically exit?</dt>
                <dd><%= review.exit_ops %></dd>
                <dt>What is the outlook of the firm?</dt>
                <dd><%= review.outlook %></dd>
                <dt>What are some benefits of the job?</dt>
                <dd><%= review.benefit %></dd>
                <dt>Do they sponsor internationals?</dt>
                <dd><%= review.intl %></dd>
                <dt>How is diversity in the office for minorities and women?</dt>
                <dd><%= review.diversity %></dd>
                <dt>What is the typical internship offer rate?</dt>
                <dd><%= review.offer %></dd>
              </dl>
              <!--<ul>-->
              <!--  <% review.comments.each do |comment| %>-->
              <!--  <li>-->
              <!--    <p><%= comment.content %> by <%= comment.user_id.email %></p>-->
              <!--    <p><%= time_ago_in_words(comment.created_at) %> ago</p>-->
              <!--  </li>-->
              <!--  <% end %>-->
              <!--</ul>-->
              <!--<div class="form-group">-->
              <!--  <form action="/create_comment">-->
  
              <!--      <input type="text" placeholder="Comments" name="content" class="form-control">-->
    
              <!--      <input type="hidden" placeholder="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">-->
    
              <!--      <input type="hidden" placeholder="review_id" name="review_id" class="form-control" value="<%= review.id %>">-->
              <!--      </br>-->
              <!--      <input type="submit" >-->
              <!--  </form>-->
              <!--</div>  -->
        <% end %>
      </div>
