<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Edit Your Review</h1>
</div>



<form action="/reviews" class="edit_review" id="edit_review" method="put">
  
  <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %> />
  <div class="panel panel-primary" font-color="black">
    <div class="panel-heading" align="center">
      <h3 class="panel-title"><h4 font-color="black">I worked at <%=  select_tag(:company_id, options_from_collection_for_select(Company.order(:name), :id, :name), class:'mypanel-dropdown') %> in<%=  select_tag(:industry_id, options_from_collection_for_select(Industry.order(:name), :id, :name), class:'mypanel-dropdown') %> in <%=  select_tag(:city_id, options_from_collection_for_select(City.order(:name), :id, :name), class:'mypanel-dropdown') %> </h4>
    </div>
    <div class="panel-body">
      <div class="container">
        
        <div class="row">
          <div class="col-md-6" align="center">
            <label for="responsibility">
            How would you describe your roles and responsibilities on the day to day?
            </label>
          </div>
          <div class="col-md-5" align="center">
            <textarea id="responsibility" name="responsibility" placeholder="" class="form-control" rows="2"><%= @review.responsibility %></textarea>
          </div>
          
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="culture">
            How would you describe the firm culture? What types don't do well here?
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="culture" name="culture" placeholder="" class="form-control" rows="2"><%= @review.culture %></textarea>
          </div>
        
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="compensation">
            What is the 1st year post-MBA compensation? Please include signing bonus, salary, and a 1 year prorated performance bonus.
            </label>
          </div>
          <div class="col-md-5" >
              <select id="compensation" name="compensation" placeholder="" class="form-control">
                <option value=80000>60,000</option>
                <option value=80000>80,000</option>
                <option value=100000>100,000</option>
                <option value=120000>120,000</option>
                <option value=140000>140,000</option>
                <option value=160000>160,000</option>
                <option value=180000>180,000</option>
                <option value=200000>200,000</option>
                <option value=220000>220,000</option>
                <option value=240000>240,000</option>
                <option value=260000>260,000</option>
                <option value=280000>280,000</option>
                <option value=300000>300,000</option>
                <%= @review.compensation %>
              </select>
          </div> 

          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="hours">
            How many hours do you work in a typical week?
            </label>
          </div>
          <div class="col-md-5" >
              <select id="hours" name="hours" placeholder="" class="form-control">
                <option value=40>40</option>
                <option value=50>50</option>
                <option value=60>60</option>
                <option value=70>70</option>
                <option value=80>80</option>
                <option value=90>90</option>
                <option value=100>100</option>
                <option value=110>110</option>
                <option value=120>120</option>                
                <%= @review.hours %>
              </select>
          </div> 
  
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="development">
              Please speak your mind about your thoughts on career development at the firm.
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="development" name="development" placeholder="" class="form-control" rows="2"><%= @review.development %></textarea>
          </div>
        
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="tips" rows="2">
              Do you have any advice on the recruiting process?
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="tips" name="tips" placeholder="" class="form-control" rows="2"><%= @review.tips %></textarea>
          </div>
          
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="outlook">
              Please speak to your opinion on the outlook of the firm.
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="outlook" name="outlook" placeholder=" " class="form-control" rows="2"><%= @review.outlook %></textarea>
          </div>
          
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="exit_ops">
              Where do people typically exit?
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="exit_ops" name="exit_ops" placeholder="" class="form-control" rows="2"><%= @review.exit_ops %></textarea>
          </div>
          
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="benefit">
            Please describe some of the benefits.
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="benefit" name="benefit" placeholder="" class="form-control" rows="2"><%= @review.benefit %></textarea>
          </div>
          
         </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="diversity">
            Do you feel that the firm promotes diversity for minorities and women?
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="diversity" name="diversity" placeholder="" class="form-control" rows="2"><%= @review.diversity %></textarea>
          </div>  

         </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="offer">
            How common is it to receive a return offer from an internship?
            </label>
          </div>
          <div class="col-md-5" >
              <select id="offer" name="offer" placeholder="" class="form-control">
                <option value=0>0%</option>
                <option value=.1>10%</option>
                <option value=.2>20%</option>
                <option value=.3>30%</option>
                <option value=.4>40%</option>
                <option value=.5>50%</option>
                <option value=.6>60%</option>
                <option value=.7>70%</option>
                <option value=.8>80%</option>     
                <option value=.9>90%</option>                
                <option value=1>100%</option>                
                <%= @review.offer %>
              </select>
          </div>   
               </br></br></br>

            <div class="col-md-6" align="center">
            <label for="group">
            Were you in a particular group or focused on a particular sub-industry.
            </label>
          </div>
          <div class="col-md-5" >
              <select id="group" name="group" placeholder="" class="form-control">
                <option value="No, I was a generalist or I prefer to not disclose">No, I was a generalist or I prefer to not disclose</option>
                <option value="Brand Management">Brand Management</option>
                <option value="Business Development">Business Development</option>
                <option value="Consumer Retail">Consumer Retail</option>
                <option value="Debt">Debt</option>
                <option value="Early Stage">Early Stage</option>
                <option value="Equity">Equity</option>
                <option value="Finance">Finance</option>
                <option value="Financial Institutions Group">Financial Institutions Group</option>     
                <option value="Financial Sponsors">Financial Sponsors</option>                
                <option value="Growth Equity">Growth Equity</option>     
                <option value="Healthcare">Healthcare</option>                
                <option value="Industrials">Industrials</option>     
                <option value="Leveraged Finance">Leveraged Finance</option>                
                <option value="Logistics">Logistics</option>           
                <option value="Mergers and Acquisitions">Mergers and Acquisitions</option>     
                <option value="Natural Resources">Natural Resources</option>                
                <option value="Operations">Operations</option>   
                <option value="Power and Energy">Power and Energy</option>     
                <option value="Product Management">Product Management</option>                
                <option value="Real Estate">Real Estate</option>     
                <option value="Sales">Sales</option>     
                <option value="Strategy">Strategy</option>                
                <option value="Tech Media Telecom">Tech Media Telecom</option>   
                <%= @review.group %>
              </select>
          </div>   
          
                     </br></br></br>
                     
          <div class="col-md-6" align="center">
            <label for="intl">
              Do they provide visa sponsorship?
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="intl" name="intl" placeholder="" class="form-control" rows="2"><%= @review.intl %></textarea>
          </div>

        </div>
        
       </br>
          
          <div class="col-xs-12" align="center">
            <input type="submit" value="Update Review" class="btn btn-primary">
            <input type="hidden" id="user_id" name="user_id"  value="<%= current_user.id %>">
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>

