<div class="page-header">
  <h1>Reviews</h1>
</div>

<p><a href="/reviews/new" class="btn btn-primary">Add a New Review</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Company</th>
      <th>City</th>
      <th>Industry</th>
      <th>Created @</th>

    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.user.email %></td>
      <td><%= review.office.company.name %></td>
      <td><%= review.office.city.name %></td>
      <td><%= review.office.industry.name %></td>
      <td><%= review.created_at %></td>
      <td>
        <a href="/reviews/<%= review.id %>" class="btn btn-primary">
          <i class="fa fa-search-plus"></i>
        </a>
      </td>
      <% if current_user.id = review.user.id %>

      <td>

        <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
          <i class="fa fa-edit"></i>
        </a>
        <% else %>
        <% end %>
      </td>
      <td>
        <a href="/delete_review/<%= review.id %>" class="btn btn-danger">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

