
<% if @review.errors.any? %>
<% @review.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header" align="center">
  <h1>Thanks for contributing to the Coffee Chat DB Community!</h1>
</div>
<form action="/create_review" class="form-horizontal">
  <div class="panel panel-primary" font-color="black">
    <div class="panel-heading" align="center">
      <h3 class="panel-title"><h4 font-color="black">I worked at <%=  select_tag(:company_id, options_from_collection_for_select(Company.order(:name), :id, :name), class:'mypanel-dropdown') %> in<%=  select_tag(:industry_id, options_from_collection_for_select(Industry.order(:name), :id, :name), class:'mypanel-dropdown') %> in <%=  select_tag(:city_id, options_from_collection_for_select(City.order(:name), :id, :name), class:'mypanel-dropdown') %> </h4>
    </div>
    <div class="panel-body">
      <div class="container">
        
        <div class="row">
          <div class="col-md-6" align="center">
            <label for="responsibility">
            How would you describe your roles and responsibilities on the day to day? *
            </label>
          </div>
          <div class="col-md-5" align="center">
            <textarea id="responsibility" name="responsibility" placeholder="" class="form-control" rows="1"><%= @review.responsibility %></textarea>
          </div>
          
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="culture">
            How would you describe the firm culture? Who are the types of people that don't do well here? *
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="culture" name="culture" placeholder="" class="form-control" rows="1"><%= @review.culture %></textarea>
          </div>
        
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="compensation">
              What is the 1st year post-MBA all in compensation averaging in all bonuses? *
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="compensation" name="compensation" placeholder="" class="form-control" rows="1"><%= @review.compensation %></textarea>
          </div>

          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="hours">
              How many hours did you work a week? *
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="hours" name="hours" placeholder="" class="form-control" rows="1"><%= @review.hours %></textarea>
          </div>
  
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="development">
              Please speak your mind about your thoughts on career development at the firm. *
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="development" name="development" placeholder="" class="form-control" rows="1"><%= @review.development %></textarea>
          </div>
        
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="tips">
              Do you have any advice on the recruiting process? *
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="tips" name="tips" placeholder="" class="form-control" rows="1"><%= @review.tips %></textarea>
          </div>
          
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="outlook">
              Please speak to your opinion on the outlook of the firm.
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="outlook" name="outlook" placeholder=" " class="form-control" rows="1"><%= @review.outlook %></textarea>
          </div>
          
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="exit_ops">
              Where do people typically exit?
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="exit_ops" name="exit_ops" placeholder="" class="form-control" rows="1"><%= @review.exit_ops %></textarea>
          </div>
          
          </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="benefit">
            Please describe some of the benefits.
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="benefit" name="benefit" placeholder="" class="form-control" rows="1"><%= @review.benefit %></textarea>
          </div>
          
         </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="diversity">
            Do you feel strongly that the firm promotes diversity as far as minority advancement / female advancement?
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="diversity" name="diversity" placeholder="" class="form-control" rows="1"><%= @review.diversity %></textarea>
          </div>  

         </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="offer">
            How common is it to receive a return offer from an internship?
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="offer" name="offer" placeholder="" class="form-control" rows="1"><%= @review.offer %></textarea>
          </div>  
  
           </br></br></br>
          
          <div class="col-md-6" align="center">
            <label for="group">
            Where you in a particular group or focus on a particular sub-industry.
            </label>
          </div>
          <div class="col-md-5" >
            <textarea id="group" name="group" placeholder="" class="form-control" rows="1"><%= @review.group %></textarea>
          </div>  
          
           </br></br></br>

      
        </div>
        
       </br>
          

          <div class="col-xs-12" align="center">
            <input type="submit" value="Create Review" class="btn btn-primary">
            <input type="hidden" id="user_id" name="user_id"  value="<%= current_user.id %>">
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>
