<div class="page-header">
  <h1>Review #<%= @review.id %></h1>
</div>

<dl class="dl-horizontal">


  <dt>Review group</dt>
  <dd><%= @review.group %></dd>
  
  <dt>Review Roles</dt>
  <dd><%= @review.responsibility %></dd>

  <dt>Review development</dt>
  <dd><%= @review.development %></dd>

  <dt>Review exitops</dt>
  <dd><%= @review.exit_ops %></dd>

  <dt>Review offer rate</dt>
  <dd><%= @review.offer %></dd>

  <dt>Review international</dt>
  <dd><%= @review.intl %></dd>
  
  <dt>Review tips</dt>
  <dd><%= @review.tips %></dd>
  
  <dt>Review compensation</dt>
  <dd><%= @review.compensation %></dd>
  
  <dt>Review outlook</dt>
  <dd><%= @review.outlook %></dd>
  
  <dt>Review benefit</dt>
  <dd><%= @review.benefit %></dd>

</dl>
