<div class="page-header">
  <h1>Review #<%= @review.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Review description</dt>
  <dd><%= @review.review_description %></dd>

  <dt>Review pros</dt>
  <dd><%= @review.review_pros %></dd>

  <dt>Review cons</dt>
  <dd><%= @review.review_cons %></dd>

  <dt>Review get internship</dt>
  <dd><%= @review.review_get_internship %></dd>

  <dt>Review rating</dt>
  <dd><%= @review.review_rating %></dd>

</dl>
